ai_lab:
  base_path: __MODEL_ROOT__
  checkpoints: checkpoints
  clip: clip
  clip_vision: clip_vision
  configs: configs
  controlnet: controlnet
  diffusion_models: diffusion_models
  embeddings: embeddings
  loras: loras
  text_encoders: text_encoders
  unet: unet
  upscale_models: upscale_models
  vae: vae
  vae_approx: vae_approx
